

body {
    background-color: darkslategray;
    padding-bottom: 50px;
}

a.navbar-brand i {
    background-color: white;
    border-radius: 2px;
    padding: 4px;
    color: orangered;
    font-size: 1.5em;
    margin-right: 10px;
}
a.navbar-brand span {
    color: white;
}

label {
    text-transform: capitalize;
}

h1.titol-vista{
    font-size: 30px;
    margin: 25px 0;
    text-transform: capitalize;
}

i.blue-icon {
    color: burlywood;
}


i.red-icon {
    color: black;
}

i.clicable {
    cursor: pointer;
}

img.img1{
padding: 2em;

}

img.img2{
    padding: 2em;
}

